body {
  background-color: aquamarine;
  background-image: url("https://unsplash.com/photos/m27OTMegUyA");
  height: 500px;
}

.navbar-brand {
  font-size: 50px;
}

.nav-item {
  font-size: 25px;
}

.dropdown-item {
  font-size: 30px;
}

.text-center {
  font-size: 50px;
}

h1 {
  font-size: 50px;
  color: blue;
}

h4 {
  font-size: 5px;
}

p {
  font-size: 20px;
}

.activities {
  font-size: 40px;
  list-style: none;
}

.text {
  text-align: center;
  font-size: 30px;
}
